<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Django</title>
        <style>
            .keywordList {
                display: inline-block,
                padding: 1rem
            }
        </style>
    </head>

    <body>
        <h1>Magic The Gathering Index</h1>
        <form method="POST" action="/searchResults/">
            {% csrf_token %}
            <label for="mtgSearch">Search for Magic Cards</label>
            <select name="searchType" id="searchType">
                <option value="card">Card</option>
                <option value="set">Set</option>
            </select>
            <input type="search" id="mtgSearch" name="searchTerm">
            <button>Search</button>
        </form>

        <br>
        <span class="keywordList">Card search terms</span>
        <ul class="keywordList">
            <li> search by name/text word or phrase: 'keyword' example: keyword=Pit  </li> 
            <li> search by cardType: 'cardType' example: cardType=Creature </li>
            <li> search by card color: 'color'  example: color=Black</li>
            <li> search by card artist: 'artist' example: artist=Sutfin </li>
        </ul>
        <br>
        <span class="keywordList">Set search operators</span>
        <ul class="keywordList">
            <li>search by block the set was in: 'block' example: block=Alara </li>
            <li>search by set name: 'name' example: name=Reborn</li>
            <li>search by set code: 'code' example: code=iko </li>
        </ul>
    </body>

</html>