<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Django</title>
        <style>
            .big {
                font-size: larger;
            }
            .card{
                border-bottom: 1em;
                border-color: darkslategrey;
                border-width: 2px;
            }
        </style>
    </head>

    <body>
        <h1>Search Results</h1>

        {% for result in data %}
            <div class="card">
            {{ result.name }} 
            {{ result.mana_cost }} 
            {{ result.text }}
            {{ result.block}}
            {{ result.code }}
            </div>
            <br>
        {% endfor %}

    </body>

</html>