<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Django</title>
        <style>
            .card {
                width: 500px;
                padding: 10px;
                border: 2px solid gray;
                margin: 0;
            }
        </style>
    </head>
    
    <body>
        <h1>Search Results</h1>

        {% for result in data %}
            <div class="card">
            {{ result.name }} 
            {{ result.mana_cost }} 
            {{ result.text }}
            {{ result.block}}
            {{ result.code }}
            </div>
        {% endfor %}

    </body>

</html>